* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, header, article, aside {
    border: 1px solid black;
}

html, body {
    width: 100%;
    height: 100%;
}

.layout {
    display: grid;
    min-height: 100%;
    grid-template-rows: 2fr 8fr;
}

.header {
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 40px 35px;
    background-color: white}

.main {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 30% 30% 40%;
}

.main .left {
    padding: 30px;
    text-align: center;
    background-color: rgb(235, 235, 238);
    grid-row: 1 / 4;
}

.left > a {
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 20px;
}

.left ul {
    margin-top: 20px;
    border-style: dashed;
    font-size: 22px;
    list-style: none;
}

.main .article {
    min-height: auto;
    background-color: aliceblue;
    grid-row: 1 / 3;
}

.main .right-top {
    background-color : rgb(235, 235, 238);
}

.main .right-bot {
    background-color : rgb(235, 235, 238);
}

.main .bottom {
    font-size: 28px;
    padding: 35px;
    text-align: center;
    background-color: rgb(235, 235, 238);
    grid-column: 2 / 4
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: palevioletred;
}

.article p {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    padding: 20px;
}

ol {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    margin-left: 40px;
}

li {
    padding: 10px;
}
.right-top img {
    width: 100%;
    min-height: auto;
}
.right-bot img {
    width: 100%;
    min-height: auto;
    object-fit: contain;
}

/* h1 { color: #000000; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }



img {
    background-size: cover;
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 20% 25% 25% 30%;
}

.content div{
    border: 1px solid black;
}

.one {
    display: flex;
    padding: 10px 40px;
    align-items: center;
    grid-row: 1;
    grid-column: 1/4;
    background-color: rgb(169, 248, 248);
}

.two {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    grid-row: 2 / 5;
    grid-column: 1;
    background-color: rgb(250, 250, 148);
}

.two ul {
    list-style-type: none;
    border-radius: 1px;
    border-style:solid ;
    margin-top: 20px;
}

.two li {
    padding: 10px;
}

.three {
    padding: 20px 20px;
    grid-row: 2 / 4;
    grid-column: 2;
    background-color: white;
    display: flex;
  
    position: relative;
  
    transform: translate(-50%, -50%);
  
    top: 50%;
    left: 50%;
}

.three p{
    padding: 10px;
    font-style: italic;
    font-size: 22px;
}

.four {
    background-color: rgb(250, 250, 148);
    display: flex;
    justify-content: center;
    align-items: center;
  
    overflow: hidden;
  
    position: relative;
  
    transform: translate(-50%, -50%);
  
    top: 50%;
    left: 50%;
}

.five {
    background-color: rgb(250, 250, 148);

    display: flex;
    justify-content: center;
    align-items: center;
  
    overflow: hidden;
  
    position: relative;
  
    transform: translate(-50%, -50%);
  
    top: 50%;
    left: 50%;
}

.six {
    grid-row: 4;
    grid-column: 2/4;
    background-color: rgb(169, 248, 248);
}

.six p {
    padding: 10px;
    font-style: italic;
    font-size: 24px;
} */